* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background{
    background-color: darkslategrey;
    color: rgb(245, 219, 185);
    height: 100vh;
    padding-top: 1px;
}
#title{
    text-align: center;
}
.display{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.controls{
    text-align: center;
    margin-top: 10px;
}

.playerX{
    color:rgb(85, 1, 1);
}
.playerO{
    color:rgb(1, 1, 73);
}
.hide{
    display: none;
}
.container{
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    max-width: 300px;
}
.tile{
    padding: 0;
    margin: 0;
    border: 1px solid beige;
    min-width: 100px;
    min-height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}